:root {
  --form-bg-color: #13232f;
  --form-text-color: #ffffff;
  --form-button-color: #1ab188;  
  --tab-group-bg-color: #2d2f30;
}

* {
  box-sizing: border-box;
}

body {
  color: red;
}

#login-section h2 {
  text-align: center;
}

#form {
  margin: 10% auto;
  width: 400px;
  background-color: var(--form-bg-color);
  color: var(--form-text-color);
  padding: 1.5rem;
  padding-top: 0.5rem;
  border-radius: 4px;
  font-family: "Titillium Web", sans-serif;
}

#register-section h2 {
  text-align: center;
}

.tab-group {
  display: flex;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  width: 100%;
  background-color: var(--tab-group-bg-color);
}

.tab-group > .active {
  background-color: var(--form-button-color);
}

.tab-group > .tab {
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  border: solid 1px white;
  cursor: pointer;
}

.tab-group > .tab:hover {
  opacity: 0.5;
}

.tab-group > .tab > a {
  color: inherit;
  text-decoration: none;
}

#create-user {
  display: grid; 
  grid-template-rows: 2em 2em 2em 2em 4.5rem 2rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 30% 70%;
  grid-column-gap: 0.5rem;
}

#create-user label, #create-user input {
  grid-column: span 1;
}

/* add HTML required to iframe */
#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

.g-recaptcha {
  transform: scale(1);
  grid-column: span 2; 
}

#login-user {
  display:grid;
  grid-template-rows: 2em 2em 1em 2em;
  grid-row-gap: 0.5rem;
  grid-template-columns: 30% 70%;
  grid-column-gap: 0.5rem;
}

input {
  color: inherit;
  background-color: var(--form-bg-color);
  border: solid 1px var(--form-text-color);
}

input:focus {
  outline: none;
}
input[type='submit'] {
  color: inherit;
  grid-column: span 2 !important;
  background-color: var(--form-button-color);
  cursor: pointer;
}

input[type='submit']:hover {
  opacity: 0.7;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 52rem) {
  #form {
    margin: 0;
    width: 100%;
  }

  .tab-group > .tab:hover {
    opacity: 1;
  }

  #create-user {
    grid-template-rows: 2em 2em 2em 2em 2em 2em 2em 2em 4.5em 2em;
  }
  
  #create-user label, #create-user input {
    grid-column: span 2;
  }

  #create-user input:last-child {
    grid-column: span 2;
  }

  .g-recaptcha {
    transform: scale(0.8);
    transform-origin: 0 0;
  }

  #login-user {
    grid-template-rows: 2em 2em 2em 2em 1.5em 2em;
  }

  #login-user label, #login-user input {
    grid-column: span 2;
  }

}